.btn-animated {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0.375rem; /* rounded-md */
  transition: all 0.4s ease;
}

.btn-animated::before,
.btn-animated::after {
  content: '';
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  transform: skewX(25deg);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: left 0.4s ease;
}

.btn-animated:hover::before {
  left: -10%;
}
.btn-animated:hover::after {
  left: -20%;
}

.btn-animated:hover {
  filter: brightness(1.1) saturate(1.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/******/
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--rgb-primary, 255 94 165) / var(--tw-bg-opacity, 1));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(var(--rgb-primary, 255 94 165) / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
/* #ff5ea5 */